body {
  background-color: cornflowerBlue;
  border: yellow;
}

h1 {
  font-family: fantasy;
  font-size: 50px;
  color: forestgreen
}

h2 {
  font-family: fantasy;
  font-size: 40px;
  color: darkslateblue
}

h3 {
  font-family: fantasy;
  font-size: 40px;
  color: darkblue
}

p {
  font-family: cursive;
  margin-right: 300px;
  margin-left: 300px;
  font-size: 35px;
  color: gold
}

li {font-family: cursive;
  font-size: 35px;
  color: gold
}

